html
{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

*
{
    margin:0;
    padding:0;
}

body
{   
    background-attachment: fixed;

    background-color: #e8e8e8;
    color: #2b6777;
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding-bottom: 30px;
}

body::-webkit-scrollbar {
    display: none;
}

body.stop-scrolling
{
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    position: fixed;
}


.FirstCard
{
    width: 100vw;
    height: 100vh;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.SecondCard
{
    width: 100vw;
    height: 100vh;
    background-color: #c8d8e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}




.Heading {
    margin-top: 2vh;
    padding: 20px;
    font-size: 65px;
    font-weight: 700;
}



.Subheading
{
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
}

.SubheadingStart
{
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
}

.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input 
{
    width: 400px;
    height: 50px;
    margin-top: 25%;
    margin-bottom: 90px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 1px solid #2b6777;
    font-size: 15px;
    padding: 10px;
}


#button
{
    width: 365px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: 15px;
    padding: 25px;
    background-color: #c8d8e4;
    color: #2b6777;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    margin-bottom: 15%;

}


.chevron {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}


.input:focus {
    outline: none;
}


.Titlebar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
}

.title
{
    font-size: 30px;
    font-weight: 700;

}





.List
{
    width: 100vw;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%; 

    opacity: 1; /* Set the initial opacity to 0 */
    position: sticky;
    top: 0;
    transition: opacity 1s ease-in-out, top 0s ease-in-out 2s; 
}

.List.show {
    opacity: 1;
    top: 0; 
    transition: opacity 1s ease-in-out, top 0s ease-in-out; 
}

.QuoteObject
{
    width: 80%;
    font-weight: 700;
}



.VoteButton
{
    margin-left: auto;
    background-color: #e8e8e8;
    padding: 5px;
    margin-left: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: right;
    display: flex;
    flex-direction: column;
    color: gray;
}

.Quote
{
    align-items: left;
}

hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.horizontalobject
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.con-like {
    --red: #ee4242;
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .con-like .outline,
  .con-like .filled {
    fill: var(--red);
    position: absolute;
  }
  
  .con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
  }
  
  .con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
  }
  
  .con-like .poly {
    stroke: var(--red);
    fill: var(--red);
  }
  
  .con-like .like:checked ~ .checkmark .filled {
    display: block
  }
  
  .con-like .like:checked ~ .checkmark .celebrate {
    display: block
  }
  
  @keyframes kfr-filled {
    0% {
      opacity: 0;
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
  
  @keyframes kfr-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 0.8;
    }
  
    100% {
      transform: scale(1.2);
      opacity: 0;
      display: none;
    }
  }


@media (max-width: 480px)
{
    .input 
    {
        width: 80vw;
        height: 50px;
        margin-top: 25%;
        margin-bottom: 100px;
        padding: 10px;
    }

    #button
    {
        width: 75vw;
        height: 40px;
        padding: 5px;
        font-weight: 700;
        margin-bottom: 20%;
    }

   


}





@media (max-height: 565px) {
    .Heading
    {
        font-size: 35px;
        margin-top: 1vh;
    }

    .input
    {
        margin-top: 4%;
        margin-bottom: 20px;

    }

    #button
    {
        margin-top: 4%;
        margin-bottom: 10%;
    }


}

.gallery-cell
{
    display: flex;
    align-items: center;
    justify-items: center;
}

.main-gallery js-flickity
{
    margin-bottom: 10vh;

}



@media (prefers-color-scheme: dark)
{

    body 
    {
        background-color: #212121;
        color: #3897b1;
    }

    .FirstCard
    {
        background-color: #212121;
    }

    .SecondCard
    {
        background-color: #333a3c;
    }

    .List
    {
        background-color: #212121;
    }

    .input
    {
        background-color: #363434;
        color: white;
    }

    .VoteButton
    {
        background-color: #212121;
        color: white;
    }

}